


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.experience-bg {
  font-size: 4rem !important; 
  font-weight: 800;
  color: rgba(0, 0, 0, 0.042) !important; 
  position: absolute; 
  top: -50%;
  font-family: cursive !important;
  right: 0 !important;
  transform: translateY(-50%);
  z-index: 1;
  pointer-events: none; 
  white-space: nowrap; 
}

.project-bg{
  font-size: 4rem !important; 
  font-weight: 800;
  color: rgba(0, 0, 0, 0.042) !important; 
  position: absolute; 
  top: 110%;
  font-family: cursive !important;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  pointer-events: none; 
  white-space: nowrap; 
}

.experience-container h2 {
  font-size: 26px;
  margin-bottom: 20px;
  color: #384959;
  text-align: left;
}

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Experience Card Styling */
.experience-card {
  background: #cad4df00;
  padding: 15px;
  border-left: 5px solid #384959;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;

  /* Slide-up Animation */
  opacity: 0;
  transform: translateY(30px);
  animation: slideUp 0.6s ease-out forwards;
}

/* Slide-up animation for cards */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Delay animation for each card */
.experience-card:nth-child(1) {
  animation-delay: 0.2s;
}
.experience-card:nth-child(2) {
  animation-delay: 0.4s;
}
.experience-card:nth-child(3) {
  animation-delay: 0.6s;
}
.experience-card:nth-child(4) {
  animation-delay: 0.8s;
}

/* Hover Effect for Experience Cards */
.experience-card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.experience-card h3 {
  font-size: 18px;
  color: #384959;
  margin-bottom: 5px;
}

.experience-card p {
  font-size: 16px;
  color: #384959;
  margin: 5px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .experience-container {
    padding: 10px;
    margin: 0px;
    margin-top: 40px;
  }

  .experience-card {
    padding: 10px;
  }

  .experience-card h3 {
    font-size: 16px;
  }

  .experience-card p {
    font-size: 14px;
  }
  .experience-bg {
    font-size: 3rem !important; 
    font-weight: 700;
    color: rgba(0, 0, 0, 0.042) !important; 
    top: -65%;
  }
  .project-bg {
    font-size: 3rem !important; 
    font-weight: 700;
    color: rgba(0, 0, 0, 0.042) !important; 
    top: 130%;
  }
}

